body {
  background: rgb(105, 194, 105);
}
p, h1, h2, h3, h4, li {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.flowers {
  display: none;
  position: fixed;
  /* This tries to fix the image not being ready when the chrome nav is hidden on mobile devices */
  bottom: -150px;
  top: -100px;
  right: 0;
  background-image: url("../images/20130827_130629.jpg");
  width: 1000px;
}
.main-content-wrap {
  z-index: 10;
  position: absolute;
  top:0;bottom:0;left:0;
}
.main-content {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  background: #007edf;
  padding: 10px;
  max-width: 600px;
  color:white;
  font-weight: bold;
}
.my-header img {
  max-width: 320px;
}
.main-content p {
  margin-bottom: 20px;
}
.panel-body h3 {
  margin-top: 10px;
}
.my-header {
  margin: -10px;
  margin-bottom: 20px;
  padding: 5px 0;
  background-color: rgb(129, 210, 255);
  color: black;
  text-align: center;
}
.screen-shot {
  margin: 20px;
  height: 380px;
}
@media (max-width: 600px) {
  .main-content {
  }
}
@media (min-width: 600px) {
  .flowers {
    display: block;
  }
}
@media (min-width: 1600px) {
  .main-content-wrap {
    right: 1000px;
    left: initial;
  }
}
.download {
  color: black;
}
.download > h3 > a {
  color: gray;
}
#app-icon {
  float:left;
  border-radius: 18px;
  max-width: 120px;
  margin: 10px;
}
.share-button {
  margin-right: 5px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
}
.share-button, .share-button > img {
  margin-right: 5px;
  border-radius: 4px;
}
#twitter-button {
  font-size: 14px;
  padding: 6px 9px;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  background-color: #fff;
}
#facebook-button {
  color: white;
  border: 1px solid #2D5085;
  padding: 5px 7px;
  font-size: 14px;
  background-color: #5B74A8;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
} 
.main-content > a, .main-content > p > a, .footer a {
  color: white;
}