body {
  background: rgb(105, 194, 105);
}
::selection
{
background-color:pink;
}
::-moz-selection
{
background-color:pink;
}
p, h1, h2, h3, h4, li {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.main-content {
  background: #007edf;
  color:white;
  font-weight: bold;
}
.big-image {
  background-image: url("../images/20130827_130629.jpg");
}
.my-header img {
  max-width: 320px;
}
.main-content p {
  margin-bottom: 20px;
}
.panel-body h3 {
  margin-top: 10px;
}
.my-header {
  margin: -10px;
  margin-bottom: 20px;
  padding: 5px 0;
  background-color: rgb(129, 210, 255);
  color: black;
  text-align: center;
}

.screen-shot {
  margin: 20px;
  height: 380px;
}

.download {
  color: black;
}
.dead-link {
  color: gray;
}
#app-icon {
  float:left;
  border-radius: 18px;
  max-width: 120px;
  margin: 10px;
}

.share-button {
  margin-right: 5px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
}
.share-button, .share-button > img {
  margin-right: 5px;
  border-radius: 4px;
}
#twitter-button {
  font-size: 14px;
  padding: 4px 7px;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
}
#facebook-button {
  color: white;
  border: 1px solid #2D5085;
  padding: 5px 7px;
  font-size: 14px;
  background-color: #5B74A8;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
#google-button {
  background-color: #d64937;
  border: 1px solid #a02f21;
  font-size: 14px;
  padding: 4px 7px;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: white;
}
.main-content > a, .main-content p > a, .footer a {
  color: white;
  text-decoration: underline;
}
.main-content > a:hover, .main-content p > a:hover, .footer a:hover { 
  color: pink;
}